__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/

outputs/
datasets/
logs/
models/
checkpoints/

*.tif
*.tiff
*.SAFE
*.jp2
*.grd
*.nc
*.pt
*.pth
*.onnx

.env
venv/
.venv/

# packaging / testing artifacts
*.egg-info/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
